.mapboxgl-popup {
			max-width: 100%;
			font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
		}
		#menu {
			position: absolute;
			background: rgb(255, 255, 255);
			padding: 10px;
			font-family: 'Open Sans', sans-serif;
      display: none;
		}
	body {
			margin: 0;
			padding: 0;
		}
		#map {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
		}
#Left-Bar {
  opacity: 1 !important;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  background-color: white;
  font-size: 1em;
  overflow-y: auto;
  overflow-x: hidden;
  color: #4169e1;
  position: absolute;
  width: 20em;
  left: 0px;
  bottom: 0px;
  top: 0px;
  z-index: 15;
  display: -webkit-flex;
  display: -ms-flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  box-sizing: border-box;
}
#container {
  float: left;
}
