html {
        background-color: white;
}

body {
        margin: 0;
        padding: 0;
}

#map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
}

.mapboxgl-popup {
        max-width: 100%;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#menu {
        position: absolute;
        background: rgb(255, 255, 255);
        padding: 10px;
        font-family: 'Open Sans', sans-serif;
}
