body {
  color: rgb(64, 64, 64);
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  -webkit-font-smoothing: antialiased;
}

a.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
}

.App-leed {
  animation: App-leed-spin infinite 20s linear;
  height: 5em;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
}

@keyframes App-leed-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.map {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.water-station {
  background-image: url('../img/icons/solid/tint.svg');
  background-size: cover;
  width: 0.95em;
  height: 0.95em;
  border-radius: 50%;
  cursor: pointer;
}

#map {
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}

#info {
       display: block;
       position: relative;
       margin: 0px auto;
       width: 50%;
       padding: 10px;
       border: none;
       border-radius: 3px;
       font-size: 12px;
       text-align: center;
       color: #222;
       background: #fff;
   }
